{% extends "layout/layout.twig" %}

{% block content %}
    <h1>list of projects for team '{{ team.getName() }}'</h1>

    <ul>
    {% for project in projects %}
        <li>{{ project.getName() }}</li>
    {% endfor %}
    </ul>
{% endblock %}