{% extends 'layout/layout.twig' %}

{% block content %}
<script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
<script>
    var options = {
        logger: 'my-logger',
        ignoreUrls: [
            /graph\.facebook\.com/i
        ],
        includePaths: [
            /https?:\/\/(www\.)?getsentry\.com/,
            /https?:\/\/d3nslu0hdya83q\.cloudfront\.net/
        ]
    };
    Raven.config('http://pub123:sec123@localhost/prison/public/1', options).install();
</script>

<button onclick="javascript:new Exception('testing testing');">Trigger Javascript error</button> which will hit /api/:projectId/store with exception & sentry details
{% endblock %}